<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-nomad-index") %>>
          <a href="/docs/providers/nomad/index.html">Nomad Provider</a>
        </li>

        <li<%= sidebar_current("docs-nomad-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-nomad-datasource-acl-policy") %>>
              <a href="/docs/providers/nomad/d/acl_policy.html">nomad_acl_policy</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-acl-token") %>>
              <a href="/docs/providers/nomad/d/acl_token.html">nomad_acl_token</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-acl-tokens") %>>
              <a href="/docs/providers/nomad/d/acl_tokens.html">nomad_acl_tokens</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-deployments") %>>
              <a href="/docs/providers/nomad/d/deployments.html">nomad_deployments</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-job") %>>
              <a href="/docs/providers/nomad/d/job.html">nomad_job</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-job-parser") %>>
            <a href="/docs/providers/nomad/d/job_parser.html">nomad_job_parser</a>
          </li>
            <li<%= sidebar_current("docs-nomad-datasource-namespace") %>>
              <a href="/docs/providers/nomad/d/namespace.html">nomad_namespace</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-namespaces") %>>
              <a href="/docs/providers/nomad/d/namespaces.html">nomad_namespaces</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-plugin") %>>
              <a href="/docs/providers/nomad/d/plugin.html">nomad_plugin</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-plugins") %>>
              <a href="/docs/providers/nomad/d/plugins.html">nomad_plugins</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-regions") %>>
              <a href="/docs/providers/nomad/d/regions.html">nomad_regions</a>
            </li>
            <li<%= sidebar_current("docs-nomad-datasource-volumes") %>>
              <a href="/docs/providers/nomad/d/volumes.html">nomad_volumes</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-nomad-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-nomad-resource-acl-policy") %>>
              <a href="/docs/providers/nomad/r/acl_policy.html">nomad_acl_policy</a>
            </li>
            <li<%= sidebar_current("docs-nomad-resource-acl-token") %>>
              <a href="/docs/providers/nomad/r/acl_token.html">nomad_acl_token</a>
            </li>
            <li<%= sidebar_current("docs-nomad-resource-job") %>>
              <a href="/docs/providers/nomad/r/job.html">nomad_job</a>
            </li>
            <li<%= sidebar_current("docs-nomad-resource-namespace") %>>
              <a href="/docs/providers/nomad/r/namespace.html">nomad_namespace</a>
            </li>
            <li<%= sidebar_current("docs-nomad-resource-quota-specification") %>>
              <a href="/docs/providers/nomad/r/quota_specification.html">nomad_quota_specification</a>
            </li>
            <li<%= sidebar_current("docs-nomad-resource-sentinel-policy") %>>
              <a href="/docs/providers/nomad/r/sentinel_policy.html">nomad_sentinel_policy</a>
            </li>
            <li<%= sidebar_current("docs-nomad-resource-volume-policy") %>>
              <a href="/docs/providers/nomad/r/volume.html">nomad_volume</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
